* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbar {
	padding-top: 20px;
	padding-bottom: 20px;
}

#about-me {
	padding-top: 30px;
	padding-bottom: 30px;
}

#projects {
	padding-top: 30px;
	padding-bottom: 30px;
}

#footer {
	padding-top: 20px;
	padding-bottom: 10px;
}
